In [15]:
import sqlite3

In [16]:
connection=sqlite3.connect('data.db')

In [17]:
c=connection.cursor()

In [18]:
# creating a table
c.execute(""" create table if not exists customer(
          id int not null,
          name text not null,
          age number not null,
          adress char(50),
          salary real
          )

""")

In [19]:
connection.commit()

In [20]:
c.execute("insert into customer values (1,'Paul',20,'banglore',100000)")

In [21]:
data=[(2,'raviraj',21,'belagavi',900000),
(3,'shar',33,'shivamogga',1010)]

In [30]:
c.executemany('insert into customer values(?,?,?,?,?)',data)

In [23]:
connection.commit()

In [31]:
c.execute('select rowid, * from customer')
result=c.fetchall()
for row in result:
    print(row)
    # print('\n')

(7, 2, 'raviraj', 21, 'belagavi', 900000.0)
(8, 3, 'shar', 33, 'shivamogga', 1010.0)
(10, 2, 'raviraj', 21, 'belagavi', 900000.0)
(11, 3, 'shar', 33, 'shivamogga', 1010.0)
(13, 2, 'raviraj', 21, 'belagavi', 900000.0)
(14, 3, 'shar', 33, 'shivamogga', 1010.0)
(15, 2, 'raviraj', 21, 'belagavi', 900000.0)
(16, 3, 'shar', 33, 'shivamogga', 1010.0)
(17, 2, 'raviraj', 21, 'belagavi', 900000.0)
(18, 3, 'shar', 33, 'shivamogga', 1010.0)

In [25]:
c.execute(''' update customer set salary=111 where id=1
''')

In [26]:
connection.commit()
c.execute("select * from customer")
result=c.fetchall()
result

[(2, 'raviraj', 21, 'belagavi', 900000.0),
 (3, 'shar', 33, 'shivamogga', 1010.0),
 (2, 'raviraj', 21, 'belagavi', 900000.0),
 (3, 'shar', 33, 'shivamogga', 1010.0),
 (1, 'Paul', 20, 'banglore', 111.0),
 (2, 'raviraj', 21, 'belagavi', 900000.0),
 (3, 'shar', 33, 'shivamogga', 1010.0)]

In [27]:
c.execute("SELECT rowid, * FROM customer WHERE rowid=1")
print(c.fetchone())

None

In [28]:
c.execute("delete from customer where id=1")
connection.commit()
c.execute("select * from customer")
result=c.fetchall()
result

[(2, 'raviraj', 21, 'belagavi', 900000.0),
 (3, 'shar', 33, 'shivamogga', 1010.0),
 (2, 'raviraj', 21, 'belagavi', 900000.0),
 (3, 'shar', 33, 'shivamogga', 1010.0),
 (2, 'raviraj', 21, 'belagavi', 900000.0),
 (3, 'shar', 33, 'shivamogga', 1010.0)]