In [2]:
import pandas as pd 
series1=pd.Series({'A':100,'B':200,'C':300,'D':400,'E':100})

In [3]:
series1

A    100
B    200
C    300
D    400
E    100
dtype: int64

In [4]:
series2=series1*2

In [5]:
series2

A    200
B    400
C    600
D    800
E    200
dtype: int64

In [6]:
print(series2['A'])

200

In [13]:
s1=pd.Series({'A':100,'B':200,'C':300,'D':400,'E':100})
s2=pd.Series({'A':100,'B':200,'D':300,'G':400,'H':100})
print(s1[:2]*100)
print(s1*s2)
print(s2[ : -1]*10) # except last 
print(s2[ :: -1]*10) # except from reverse order

A    10000
B    20000
dtype: int64
A     10000.0
B     40000.0
C         NaN
D    120000.0
E         NaN
G         NaN
H         NaN
dtype: float64
A    1000
B    2000
D    3000
G    4000
dtype: int64
H    1000
G    4000
D    3000
B    2000
A    1000
dtype: int64

In [19]:
s1.iloc[0]=99
print(s1)
s1[2:4]=000
print(s1)

A     99
B    200
C      0
D      0
E    100
dtype: int64
A     99
B    200
C      0
D      0
E    100
dtype: int64

In [24]:
import pandas as pd
import numpy as np

# Solution 6 - IPL DataFrame
ipl_data = {
    'Player': ['Hardik Pandya', 'KL Rahul', 'Andre Russel', 'Jasprit Bumrah', 'Virat Kohli', 'Rohit Sharma'],
    'Team': ['Mumbai Indians', 'Kings Eleven', 'Kolkata Knight riders', 'Mumbai Indians', 'RCB', 'Mumbai Indians'],
    'Category': ['Batsman', 'Batsman', 'Batsman', 'Bowler', 'Batsman', 'Batsman'],
    'BidPrice': [13, 12, 7, 10, 17, 15],
    'Runs': [1000, 2400, 900, 200, 3600, 3700]
}
ipl_df = pd.DataFrame(ipl_data)

# Get first 2 and last 3 rows
print("First 2 and last 3 rows of IPL DataFrame:")
result_1=pd.concat([ipl_df.head(2),ipl_df.tail(3)])
print(result_1)
print("\n")

# Solution 7 - Weather DataFrame
weather_data = {
    'MaxTemp': [45, 34, 48, 32, 44, 39],
    'MinTemp': [30, 24, 34, 22, 29, 37],
    'City': ['Delhi', 'Guwahati', 'Chennai', 'Bangluru', 'Mumbai', 'Jaipur'],
    'RainFall': [25.6, 41.5, 36.8, 40.2, 38.5, 24.9]
}
df = pd.DataFrame(weather_data)

# Calculate sum of every column
print("Sum of each column in Weather DataFrame:")
print(df.sum(numeric_only=True)) # important
print("\n")

# Solution 8 - Missing Values Analysis
data = {
    'Name': ['Anna', 'Ben', 'Cathy', np.nan, 'Edward'],
    'City': ['New York', np.nan, 'Chicago', 'Los Angeles', 'San Francisco'],
    'Age': [25, 30, np.nan, 22, 35],
    'Salary': [50000, 60000, np.nan, 52000, 70000]
}
df_missing = pd.DataFrame(data)

# Identify missing values
print("Missing values in each column:")
print(df_missing.isnull())
print("\n")

# Count missing values in each column
print("Count of missing values in each column:")
print(df_missing.isnull().sum())
print("\n")

# Calculate percentage of missing values
print("Percentage of missing values in each column:")
# print((df_missing.isnull().sum() / len(df_missing) * 100).round(2))
print((df_missing.isnull().sum()/len(df_missing)*100).round(2))

First 2 and last 3 rows of IPL DataFrame:
           Player            Team Category  BidPrice  Runs
0   Hardik Pandya  Mumbai Indians  Batsman        13  1000
1        KL Rahul    Kings Eleven  Batsman        12  2400
3  Jasprit Bumrah  Mumbai Indians   Bowler        10   200
4     Virat Kohli             RCB  Batsman        17  3600
5    Rohit Sharma  Mumbai Indians  Batsman        15  3700


Sum of each column in Weather DataFrame:
MaxTemp     242.0
MinTemp     176.0
RainFall    207.5
dtype: float64


Missing values in each column:
    Name   City    Age  Salary
0  False  False  False   False
1  False   True  False   False
2  False  False   True    True
3   True  False  False   False
4  False  False  False   False


Count of missing values in each column:
Name      1
City      1
Age       1
Salary    1
dtype: int64


Percentage of missing values in each column:
Name      20.0
City      20.0
Age       20.0
Salary    20.0
dtype: float64

In [25]:
df = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')

In [27]:
missing_data=df.isnull().sum()/len(df)
print(missing_data)

Survived                   0.0
Pclass                     0.0
Name                       0.0
Sex                        0.0
Age                        0.0
Siblings/Spouses Aboard    0.0
Parents/Children Aboard    0.0
Fare                       0.0
dtype: float64

In [28]:
column_drop=missing_data[missing_data>0.4].index
df.drop(columns=column_drop,inplace=True)

In [29]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [31]:
df['Age'].fillna(df['Age'].median(),inplace=True)
print(df.head())
df['Embarked'].fillna(df['Embarked'].mode()[0],inplace=True)

C:\Users\shara\AppData\Local\Temp\ipykernel_1292\1797164797.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(),inplace=True)

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500

KeyError: 'Embarked'

In [32]:
# forward fill andre we enter a last enter value
df['Cabin'].fillna(method='ffill',inplace=True)

KeyError: 'Cabin'

In [ ]:
df['Has_Cabin'] = df['Cabin'].notnull().astype(int)

KeyError: 'Cabin'

In [2]:
import pandas as pd
import numpy as np

# Creating the DataFrame
data = {
    "Date": ["2021-10-01", "2021-10-02", "2021-10-03", "2021-10-04", "2021-10-05", "2021-10-06", 
             "2021-10-07", "2021-10-08", "2021-10-09", "2021-10-10"],
    "Item": [1014.0, 1014.0, np.nan, 1014.0, 1014.0, 1014.0, 1014.0, 1014.0, 1014.0, np.nan],
    "Measure_1": [8.0, 1.0, np.nan, 3.0, 5.0, 6.0, 8.0, np.nan, 1.0, np.nan],
    "Measure_2": [0.53, 0.84, np.nan, np.nan, 0.08, 0.94, 0.17, 0.45, 0.44, 0.01],
    "Measure_3": [0.79, 0.16, np.nan, 0.26, 0.91, 0.64, 0.60, 0.00, 0.72, 0.39],
    "Measure_4": [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, -1.000761, -1.871924, 1.745967],
}

df = pd.DataFrame(data)

# 1. Drop rows that have a missing value
df_dropped_rows = df.dropna()

# 2. Drop columns that have at least one missing value
df_dropped_columns = df.dropna(axis=1)

# 3. Drop rows or columns that only have missing values
df_dropped_only_missing_rows = df.dropna(how="all")
df_dropped_only_missing_columns = df.dropna(axis=1, how="all")

print(df.columns)
print('LLLLLLLLLLLLLLLLLLL')
# 4. Drop rows or columns based on a threshold value (3 or more NaN)
df_threshold_rows = df.dropna(thresh=len(df.columns) - 3)
df_threshold_columns = df.dropna(axis=1, thresh=len(df) - 3)

# 5. Replace NaN with the previous value
df_filled_previous = df.fillna(method="ffill")

# 6. Replace NaN with the previous value with limit=1
df_filled_previous_limit = df.fillna(method="ffill", limit=1)

# 7. Replace NaN with the forward value
df_filled_forward = df.fillna(method="bfill")

# Displaying results
print("Original DataFrame:\n", df)
print("\nDropped Rows:\n", df_dropped_rows)
print("\nDropped Columns:\n", df_dropped_columns)
print("\nDropped Only Missing Rows:\n", df_dropped_only_missing_rows)
print("\nDropped Only Missing Columns:\n", df_dropped_only_missing_columns)
print("\nThreshold Dropped Rows:\n", df_threshold_rows)
print("\nThreshold Dropped Columns:\n", df_threshold_columns)
print("\nFilled Previous:\n", df_filled_previous)
print("\nFilled Previous with Limit:\n", df_filled_previous_limit)
print("\nFilled Forward:\n", df_filled_forward)

Index(['Date', 'Item', 'Measure_1', 'Measure_2', 'Measure_3', 'Measure_4'], dtype='object')
LLLLLLLLLLLLLLLLLLL
Original DataFrame:
          Date    Item  Measure_1  Measure_2  Measure_3  Measure_4
0  2021-10-01  1014.0        8.0       0.53       0.79        NaN
1  2021-10-02  1014.0        1.0       0.84       0.16        NaN
2  2021-10-03     NaN        NaN        NaN        NaN        NaN
3  2021-10-04  1014.0        3.0        NaN       0.26        NaN
4  2021-10-05  1014.0        5.0       0.08       0.91        NaN
5  2021-10-06  1014.0        6.0       0.94       0.64        NaN
6  2021-10-07  1014.0        8.0       0.17       0.60        NaN
7  2021-10-08  1014.0        NaN       0.45       0.00  -1.000761
8  2021-10-09  1014.0        1.0       0.44       0.72  -1.871924
9  2021-10-10     NaN        NaN       0.01       0.39   1.745967

Dropped Rows:
          Date    Item  Measure_1  Measure_2  Measure_3  Measure_4
8  2021-10-09  1014.0        1.0       0.44       0.72  -1.871924

Dropped Columns:
          Date
0  2021-10-01
1  2021-10-02
2  2021-10-03
3  2021-10-04
4  2021-10-05
5  2021-10-06
6  2021-10-07
7  2021-10-08
8  2021-10-09
9  2021-10-10

Dropped Only Missing Rows:
          Date    Item  Measure_1  Measure_2  Measure_3  Measure_4
0  2021-10-01  1014.0        8.0       0.53       0.79        NaN
1  2021-10-02  1014.0        1.0       0.84       0.16        NaN
2  2021-10-03     NaN        NaN        NaN        NaN        NaN
3  2021-10-04  1014.0        3.0        NaN       0.26        NaN
4  2021-10-05  1014.0        5.0       0.08       0.91        NaN
5  2021-10-06  1014.0        6.0       0.94       0.64        NaN
6  2021-10-07  1014.0        8.0       0.17       0.60        NaN
7  2021-10-08  1014.0        NaN       0.45       0.00  -1.000761
8  2021-10-09  1014.0        1.0       0.44       0.72  -1.871924
9  2021-10-10     NaN        NaN       0.01       0.39   1.745967

Dropped Only Missing Columns:
          Date    Item  Measure_1  Measure_2  Measure_3  Measure_4
0  2021-10-01  1014.0        8.0       0.53       0.79        NaN
1  2021-10-02  1014.0        1.0       0.84       0.16        NaN
2  2021-10-03     NaN        NaN        NaN        NaN        NaN
3  2021-10-04  1014.0        3.0        NaN       0.26        NaN
4  2021-10-05  1014.0        5.0       0.08       0.91        NaN
5  2021-10-06  1014.0        6.0       0.94       0.64        NaN
6  2021-10-07  1014.0        8.0       0.17       0.60        NaN
7  2021-10-08  1014.0        NaN       0.45       0.00  -1.000761
8  2021-10-09  1014.0        1.0       0.44       0.72  -1.871924
9  2021-10-10     NaN        NaN       0.01       0.39   1.745967

Threshold Dropped Rows:
          Date    Item  Measure_1  Measure_2  Measure_3  Measure_4
0  2021-10-01  1014.0        8.0       0.53       0.79        NaN
1  2021-10-02  1014.0        1.0       0.84       0.16        NaN
3  2021-10-04  1014.0        3.0        NaN       0.26        NaN
4  2021-10-05  1014.0        5.0       0.08       0.91        NaN
5  2021-10-06  1014.0        6.0       0.94       0.64        NaN
6  2021-10-07  1014.0        8.0       0.17       0.60        NaN
7  2021-10-08  1014.0        NaN       0.45       0.00  -1.000761
8  2021-10-09  1014.0        1.0       0.44       0.72  -1.871924
9  2021-10-10     NaN        NaN       0.01       0.39   1.745967

Threshold Dropped Columns:
          Date    Item  Measure_1  Measure_2  Measure_3
0  2021-10-01  1014.0        8.0       0.53       0.79
1  2021-10-02  1014.0        1.0       0.84       0.16
2  2021-10-03     NaN        NaN        NaN        NaN
3  2021-10-04  1014.0        3.0        NaN       0.26
4  2021-10-05  1014.0        5.0       0.08       0.91
5  2021-10-06  1014.0        6.0       0.94       0.64
6  2021-10-07  1014.0        8.0       0.17       0.60
7  2021-10-08  1014.0        NaN       0.45       0.00
8  2021-10-09  1014.0        1.0       0.44       0.72
9  2021-10-10     NaN        NaN       0.01       0.39

Filled Previous:
          Date    Item  Measure_1  Measure_2  Measure_3  Measure_4
0  2021-10-01  1014.0        8.0       0.53       0.79        NaN
1  2021-10-02  1014.0        1.0       0.84       0.16        NaN
2  2021-10-03  1014.0        1.0       0.84       0.16        NaN
3  2021-10-04  1014.0        3.0       0.84       0.26        NaN
4  2021-10-05  1014.0        5.0       0.08       0.91        NaN
5  2021-10-06  1014.0        6.0       0.94       0.64        NaN
6  2021-10-07  1014.0        8.0       0.17       0.60        NaN
7  2021-10-08  1014.0        8.0       0.45       0.00  -1.000761
8  2021-10-09  1014.0        1.0       0.44       0.72  -1.871924
9  2021-10-10  1014.0        1.0       0.01       0.39   1.745967

Filled Previous with Limit:
          Date    Item  Measure_1  Measure_2  Measure_3  Measure_4
0  2021-10-01  1014.0        8.0       0.53       0.79        NaN
1  2021-10-02  1014.0        1.0       0.84       0.16        NaN
2  2021-10-03  1014.0        1.0       0.84       0.16        NaN
3  2021-10-04  1014.0        3.0        NaN       0.26        NaN
4  2021-10-05  1014.0        5.0       0.08       0.91        NaN
5  2021-10-06  1014.0        6.0       0.94       0.64        NaN
6  2021-10-07  1014.0        8.0       0.17       0.60        NaN
7  2021-10-08  1014.0        8.0       0.45       0.00  -1.000761
8  2021-10-09  1014.0        1.0       0.44       0.72  -1.871924
9  2021-10-10  1014.0        1.0       0.01       0.39   1.745967

Filled Forward:
          Date    Item  Measure_1  Measure_2  Measure_3  Measure_4
0  2021-10-01  1014.0        8.0       0.53       0.79  -1.000761
1  2021-10-02  1014.0        1.0       0.84       0.16  -1.000761
2  2021-10-03  1014.0        3.0       0.08       0.26  -1.000761
3  2021-10-04  1014.0        3.0       0.08       0.26  -1.000761
4  2021-10-05  1014.0        5.0       0.08       0.91  -1.000761
5  2021-10-06  1014.0        6.0       0.94       0.64  -1.000761
6  2021-10-07  1014.0        8.0       0.17       0.60  -1.000761
7  2021-10-08  1014.0        1.0       0.45       0.00  -1.000761
8  2021-10-09  1014.0        1.0       0.44       0.72  -1.871924
9  2021-10-10     NaN        NaN       0.01       0.39   1.745967

C:\Users\shara\AppData\Local\Temp\ipykernel_25228\2865097467.py:34: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled_previous = df.fillna(method="ffill")
C:\Users\shara\AppData\Local\Temp\ipykernel_25228\2865097467.py:37: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled_previous_limit = df.fillna(method="ffill", limit=1)
C:\Users\shara\AppData\Local\Temp\ipykernel_25228\2865097467.py:40: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_filled_forward = df.fillna(method="bfill")

In [ ]:
import pandas as pd
import numpy as np

# Dictionaries
sales = {'Tony': 103, 'Sally': 202, 'Randy': 380, 'Ellen': 101, 'Fred': 82}
region = {'Tony': 'West', 'Sally': 'South', 'Carl': 'West', 'Archie': 'North', 'Randy': 'East', 
          'Ellen': 'South', 'Fred': np.nan, 'Mo': 'East', 'HanWei': np.nan}

# a) Create DataFrames from the dictionaries
sales_df = pd.DataFrame.from_dict(sales, orient='index', columns=['sales'])
region_df = pd.DataFrame.from_dict(region, orient='index', columns=['region'])

# Merge both DataFrames
df = pd.merge(region_df, sales_df, left_index=True, right_index=True, how='outer')

# b) Get the combined output
print(df)

# c) Filter rows where the index exists in the sales dictionary
filtered_df = df[df.index.isin(sales.keys())]
print(filtered_df)

# d) Group by "region" and calculate the sum of "sales"
grouped_df = df.groupby('region', dropna=True)['sales'].sum().reset_index()
print(grouped_df)

# e) Add a new column "sales_region" with the sum of sales for each region
df['sales_region'] = df['region'].map(df.groupby('region')['sales'].sum())
print(df)